[submodule "TBRNKEngine/vendor/spdlog"]
	path = TBRNKEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TBRNKEngine/vendor/GLFW"]
	path = TBRNKEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
